@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');
:root{
    --main-bg:hsl(210, 46%, 95%);
    --ff-base:'Barlow Semi Condensed', sans-serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    width: 100vw;
    font-family: var(--ff-base);
    background-color: var(--main-bg);
}
